<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Certificate</title>
</head>

<body>
    <h2>Upload Certificate</h2>
    <form action="./upload" method="POST" enctype="multipart/form-data">
        <label for="certificate">Select certificate file:</label><br>
        <input type="file" id="file" name="file"><br><br>
        <button type="submit">Upload</button>
    </form>
</body>

</html>